@font-face {
  font-weight: 400;
  font-family: "PT Sans";
  font-style: normal;
  src: url("/fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-weight: 700;
  font-family: "PT Sans";
  font-style: normal;
  src: url("/fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-nav {
  position: relative;
  background-color: red;
}

.page-header {
  background-color: #ffffff;
  text-align: center;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 5;
  transform: translateX(-50%);
}

.page-header__logo-image {
  width: 102px;
  height: 83px;
}

@media (min-width: 1200px) {
  .page-header__logo-image {
    width: 187px;
    height: 96px;
  }
}
@media (max-width: 767px) {
  .page-header__logo--mobile {
    top: 224px;
  }
}
.page {
  height: 100%;
  background-color: #f2f2f2;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
  color: #333333;
  background-color: #ffffff;
}
@media (min-width: 1200px) {
  .page__body {
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}