.page {
  height: 100%;
  background-color: $color-back;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
  color: #333333;
  background-color: $color-white;

  @include desktop {
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}
