@mixin font-face ($family, $weight, $style, $url) {
	@font-face {
		font-weight: $weight;
		font-family: '#{$family}';
		font-style: $style;
		src: url('/fonts/#{$url}.woff2') format('woff2');
		font-display: swap;
	}
}
